<div class="container">
  <div class="row">
    <div class="col-md-5">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Date:</strong>
        <%= @hospital_referral.date %>
      </p>

      <p>
        <strong>Patient name:</strong>
        <%= @hospital_referral.patient_name %>
      </p>

      <p>
        <strong>Hospital name:</strong>
        <%= @hospital_referral.hospital_name %>
      </p>

      <p>
        <strong>Referral reason:</strong>
        <%= @hospital_referral.referral_reason %>
      </p>

      <p>
        <strong>Department:</strong>
        <%= @hospital_referral.department %>
      </p>

      <%= link_to 'Edit', edit_hospital_referral_path(@hospital_referral) %> |
      <%= link_to 'Back', hospital_referrals_path %>
    </div>
  </div>
</div>